<h1>users#show</h1>
<table border="1" >
<tr><td>UserName</td><td> <%= @users.user_name %></td></tr>
<tr><td>EmailId</td><td> <%= @users.email %></td></tr>
<tr><td>FirstName</td><td> <%= @users.first_name %></td></tr>
<tr><td>LastName</td><td> <%= @users.last_name %></td></tr>
<tr><td>FullName</td><td> <%= @users.full_name %></td></tr>
<tr><td>ContactNo</td><td> <%= @users.contact_no %></td></tr>
<tr><td>UserType</td><td> <%= @users.user_type %></td></tr>
<tr><td><%= link_to "Index",users_path %></td>
<td><%= link_to "Create Post",new_user_post_path(@users) %></td></tr>
</table>
<br><br>
<table border="1">
<th>PostTitle</th>
<% @users.posts.each do |upost| %>
<tr>
<td><%= upost.title %></td>
<td><%= link_to "Show",user_post_path(@users,upost) %></td>
<td><%= link_to "Edit",edit_user_post_path(@users,upost) %></td>
<td><%= link_to "Delete",user_post_path(@users,upost),:method=>:delete %></td>
</tr>
<% end %>
</table>


